.banner {
  background-position-x: calc(100% + 12rem);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 50rem;
}

#seguranca-qualidade {
  background-image: url(../img/services/6.png);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#seguranca-qualidade img {
  max-width: 100%;
}

#seguranca-qualidade .service-button {
  border-width: 0.125rem;
  border-color: #1de022;
  font-weight: 500;
}

#seguranca-qualidade .service-button:hover {
  background-color: #1de022;
  color: #fff;
}

@media (min-width: 992px) {
  .banner {
    background-image: url(../img/services/5.png);
  }
}

@media (min-width: 1200px) {
  .banner {
    background-position-x: right;
  }
}
