.banner {
  background-image: url(../img/services/16.png);
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 8.5rem 1.5rem;
}

.banner strong {
  font-weight: 500;
}

main .button {
  background-color: transparent !important;
  border: 0.125rem solid #fff;
  border-radius: 40rem;
  color: #fff;
  font-family: 'Gotham Book';
  font-weight: 400;
}

.product .title {
  display: inline-block;
  border-bottom: 0.25rem solid #e61d25;
}

.product img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.product p {
  font-size: 0.875rem;
  line-height: 1.375;
  max-width: 30.625rem;
  text-align: justify;
}

.product strong {
  font-weight: 500;
}

.product .button {
  border-color: #e61d25;
}

.product .button:first-of-type {
  background-color: transparent !important;
  color: #121212;
}

.product .button:last-of-type {
  background-color: #e61d25 !important;
  color: #fff;
}

@media (min-width: 768px) {
  .banner {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 992px) {
  .banner .title {
    font-size: 3.625rem;
  }
}
