.service#adaptacao {
  background-image: url(../img/services/2.png);
}

.service#esteiras .service-title {
  color: #e61d25;
}

.service#controle {
  background-image: url(../img/services/4.png);
}

@media (min-width: 992px) {
  .service#esteiras {
    background-image: url(../img/services/3.png);
    background-position-x: right;
  }
}
