.service {
  background-position: center left;
  background-size: cover;
  padding-bottom: 4.25rem;
  padding-top: 4.25rem;
}

.service.service-alt {
  color: #fff;
}

.service .service-title {
  font-size: 1.5625rem;
  margin: 0px;
  text-transform: uppercase;
}

.service p {
  line-height: 1.75;
  margin: 2.75rem 0px;
  text-shadow: 0px 0.125rem 0.75rem rgb(0 0 0 / 38%);
}

.service.service-alt .service-title,
.service.service-alt p {
  text-shadow: 0px 0px 0.375rem #000;
}

.service-button {
  align-items: center;
  border: 0.1875em solid currentColor;
  border-radius: 1em;
  color: #e61d25;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 700;
  height: 3.25em;
  padding: 0px 2em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: none !important;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
  white-space: nowrap;
}

.service-button:hover {
  color: #fff;
  background-color: #e61d25;
  border-color: #e61d25;
}

.service.service-alt .service-button {
  color: #fff;
}

.service.service-alt .service-button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #e61d25;
}

.service-button svg {
  height: 1.75em;
  margin-right: 0.5em;
  width: 1.75em;
}

.service-button svg + * {
  margin: 0px auto;
}

.service-button.service-button-small {
  display: flex;
  height: 2.5em;
  justify-content: center;
  max-width: 18.75rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
}

.service strong {
  font-weight: 500;
}

@media (min-width: 768px) {
  .service p {
    margin: 3.875rem 0px;
  }

  .service-button {
    font-size: 1rem;
  }
}
